* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    /* Prevent text selection */
    -webkit-user-select: none;
    /* For Chrome/Safari */
    -moz-user-select: none;
    /* For Firefox */
    -ms-user-select: none;
    /* For Internet Explorer/Edge */
}

.canvas {
    display: block;
}

.boxContainer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.box {
    width: 40%;
    height: min(20vh, fit-content);
    border: 2px solid black;
    border-radius: 10px;
    background: #000;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    align-items: center;
    justify-content: center;
    color: white;
}

/*#region [Controls css] */
.controls {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 10px;
}

.controlsContainer {
    all: unset;
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 10px;
}

.up {
    all: unset;
    grid-column-start: 2;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
}

.down {
    all: unset;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
}

.down img {
    transform: rotateZ(180deg);
}

.right {
    all: unset;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    border: 2px solid black;
    border-radius: 10px;
}

.right img {
    transform: rotateZ(90deg);
}


.left {
    all: unset;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    display: flex;
    justify-content: end;
    border: 2px solid black;
    border-radius: 10px;
}

.left img {
    transform: rotateZ(270deg);
}

/*#endregion*/

/*#region [On Click] */
.up:active {
    transform: scale(1.2);
}

.right:active {
    transform: scale(1.2);
}

.down:active {
    transform: scale(1.2);
}

.left:active {
    transform: scale(1.2);
}

/*#endregion*/